In [1]:
import pandas as pd
from pathlib import Path
from tqdm import tqdm
import ast

In [7]:
base_path = Path("./train_files") / f"actions_1.csv"

In [12]:
df = pd.read_csv(base_path)

In [13]:
df

,id,datetime,concept,duration,groupSize,contact
0,21,122385.0,sec_490124,2452,1,False
1,21,125232.0,sec_425380,1405,1,False
2,21,127214.0,home_5,12023,1,False
3,21,139380.0,PT!100110007:7!120200199-1_202458!120062097-1_...,480,2,True
4,21,140160.0,PT!100100180:180!120178341-1_235191!120178340-...,899,1,False
...,...,...,...,...,...,...
558855,11757462,148816.0,sec_422532,4287,1,False
558856,11757462,154860.0,PT!059440045:45!120582766-1_81480!120582367-1_...,840,2,True
558857,11757462,155999.0,sec_379487,0,1,False
558858,11757462,156300.0,PT!059440045:45!120582766-1_81480!120582399-1_...,300,2,True
558859,11757462,156799.0,home_5225342,14361,1,False

In [43]:

df = pd.read_csv(files[0], index_col=0)
data = []
for row_num, row in df.iterrows():
    data.append({
        "id": row["person"],
        "datetime": row["time"],
        "concept": row["container"],
        "duration": int(row["end_time"]) - int(row["time"]),
        "groupSize": max(ast.literal_eval(row["groupSize"])),
        "contact": (len(ast.literal_eval(row["contactPeople"])) != 0)
    })
    
action_df = pd.DataFrame(data, columns=["id", "datetime", "concept", "duration", "groupSize", "contact"])
action_df.to_csv(save_to / f"actions_{1}.csv", index=False)

In [44]:
df = pd.read_csv(save_to / "actions_1.csv")

In [45]:
df

,id,datetime,concept,duration,groupSize,contact
0,21,122385.0,sec_490124,2452,1,False
1,21,125232.0,sec_425380,1405,1,False
2,21,127214.0,home_5,12023,1,False
3,21,139380.0,PT!100110007:7!120200199-1_202458!120062097-1_...,480,2,True
4,21,140160.0,PT!100100180:180!120178341-1_235191!120178340-...,899,1,False
...,...,...,...,...,...,...
558855,11757462,148816.0,sec_422532,4287,1,False
558856,11757462,154860.0,PT!059440045:45!120582766-1_81480!120582367-1_...,840,2,True
558857,11757462,155999.0,sec_379487,0,1,False
558858,11757462,156300.0,PT!059440045:45!120582766-1_81480!120582399-1_...,300,2,True
558859,11757462,156799.0,home_5225342,14361,1,False